@page "/"
@inject MovieAppData.MovieAppDataService movieAppDataService

<div class="row-layout movies-container">
    <div class="column-layout group">
        <h5 class="content">
            Movie Premieres
        </h5>
        <div class="row-layout group_1">
            <div class="column-layout group_2">
                <div class="column-layout group_3">
                    <h5 class="h5_1">
                        MoviePlex Metropolis
                    </h5>
                    <IgbButton class="user-input user-input_1" movies-scope>
                        SHOW SCHEDULE
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
            </div>
        </div>
        <IgbTabs class="tabs" movies-scope>
            <IgbTab Selected="true">
                Now Playing
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content" movies-scope>
                @foreach (var item in movieAppDataNowPlaying)
                {
                    <IgbCard class="card" movies-scope>
                        <IgbCardMedia class="media-content" movies-scope>
                            <img src="@item.MoviePoster" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                @item.Name
                            </h3>
                            <h5 slot="subtitle">
                                @item.Genre
                            </h5>
                        </IgbCardHeader>
                        <IgbCardContent class="body-content" movies-scope>
                            <p class="typography__body-1 content">
                                @item.Description
                            </p>
                        </IgbCardContent>
                        <IgbCardActions class="actions-content" movies-scope>
                            <IgbButton Variant="ButtonVariant.Flat" class="user-input user-input_2" movies-scope>
                                More
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" movies-scope>
                                <span class="material-icons">
                                    favorite
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" movies-scope>
                                <span class="material-icons">
                                    bookmark
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" movies-scope>
                                <span class="material-icons">
                                    share
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </IgbCardActions>
                    </IgbCard>
                }
            </IgbTabPanel>
            <IgbTab Disabled="true">
                Opening This Week
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content_1" movies-scope>
                <div class="row-layout demo-content">
                    <img src="assets/start-building-dark.svg" class="image_1" />
                    <p class="typography__body-2 text">
                        Remove the "demo-content" container, and add your own content.
                    </p>
                </div>
            </IgbTabPanel>
            <IgbTab Disabled="true">
                Coming Soon
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content_1" movies-scope>
                <div class="row-layout demo-content">
                    <img src="assets/start-building-dark.svg" class="image_1" />
                    <p class="typography__body-2 text">
                        Remove the "demo-content" container, and add your own content.
                    </p>
                </div>
            </IgbTabPanel>
        </IgbTabs>
    </div>
    <div class="column-layout group_4">
        <div class="column-layout buy-tickets">
            <p class="typography__subtitle-2 title">
                BUY TICKETS
            </p>
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
            <IgbDatePicker Label="Date" class="date-picker" movies-scope></IgbDatePicker>
            <span class="select">Select not yet available in Blazor</span>
            <IgbButton class="user-input user-input_3" movies-scope>
                GET TICKETS NOW
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div class="column-layout theatres-near-you">
            <p class="typography__subtitle-2 text_1">
                THEATRES NEAR YOU
            </p>
            <IgbList class="list" movies-scope>
                @foreach (var item in movieAppDataTheatresNearYou)
                {
                    <IgbListItem>
                        <div slot="start">
                            <IgbAvatar Initials="@item.Initials" Shape="AvatarShape.Circle" class="avatar" movies-scope></IgbAvatar>
                        </div>
                        <div slot="title">@item.Theatre</div>
                        <div slot="subtitle">@item.Address</div>
                    </IgbListItem>
                }
            </IgbList>
            <IgbButton class="button" movies-scope>
                Change Location
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
</div>

@code {
    private MovieAppData.NowPlayingType[] movieAppDataNowPlaying = Array.Empty<MovieAppData.NowPlayingType>();
    private MovieAppData.TheatresNearYouType[] movieAppDataTheatresNearYou = Array.Empty<MovieAppData.TheatresNearYouType>();

    protected override async Task OnInitializedAsync()
    {
        movieAppDataNowPlaying = await this.movieAppDataService.GetNowPlaying() ?? movieAppDataNowPlaying;
        movieAppDataTheatresNearYou = await this.movieAppDataService.GetTheatresNearYou() ?? movieAppDataTheatresNearYou;
    }
}
